<div class="c-header__left">
  <a routerLink="/event/list" >
      <img src="assets/images/logo.png" alt="istanbul events logo">
  </a>
</div>
<div class="c-header__middle">
  <ul class="c-header__middle-list">
      <li routerLink="/event/list" routerLinkActive="c-header__middle-list-item--active" class="c-header__middle-list-item">
        <a>All Events</a>
      </li>
      <li routerLink="/event/new" routerLinkActive="c-header__middle-list-item--active" class="c-header__middle-list-item">
        <a>New Event</a>
      </li>
      <!-- <li routerLink="/event/list/by-date" routerLinkActive="c-header__middle-list-item--active" class="c-header__middle-list-item">
          <a>{{'HEADER.EVENT_TYPE.BY_DATE' | translate}}</a>
      </li>
      <li routerLink="/event/list/by-mood" routerLinkActive="c-header__middle-list-item--active" class="c-header__middle-list-item">
        <a>{{'HEADER.EVENT_TYPE.BY_MOOD' | translate}}</a>
      </li> -->
  </ul>
</div>
<div class="c-header__right">
  <ul class="c-header__right-list">
    <li *ngIf="!authService.isAuthenticated()" routerLink="/user/login" routerLinkActive="c-header__right-list-item--active" class="c-header__right-list-item">
        <a>Login</a>
    </li>
    <li *ngIf="authService.isAuthenticated()" routerLink="/user/profile" routerLinkActive="c-header__right-list-item--active" class="c-header__right-list-item">
        <a><img src="assets/images/user.png" alt="user"></a> <span>{{ authService.currentUser?.userName }}</span>
    </li>
  </ul>
</div>
