<div class="c-event-detail">
    <div class="c-event-detail__header">
      <h1>Event Detail</h1>
      <hr>
    </div>
    <div class="c-event-detail__content">
      <div class="c-event-detail__event-info">
        <img class="c-event-detail__event-info-image" [src]="event?.imageUrl | image" />
        
      </div>
      <div class="c-event-detail__content-right">
          <div class="c-event-detail__content-right-title">{{ event?.name }}</div>
          <div class="c-event-detail__content-right-date">{{ event?.date | date:'MMMM d, EEEE '  }}</div>
          <span class="c-event-detail__content-right-location">{{ event?.location?.city }}</span>
      </div>
    </div>
</div>

  
