$colors: (
    default: (
        white: #ffffff,
        black: #000000,
        ivory: #FCFDEC,
        alabaster: #F2F4E7,
        acid-green: #AAC117,
        june-bud: #D4D35D,
        android-green: #B6C938,

        // cta-purple:#6C31ED,
        // cta-green:#09C800,
        // light-grey:#E6EDF2,
        dark-grey:#555F66,
        info-text-grey:#98AAB7,
        // bg-grey:#D5DFE6,
        // error-red:#D0021B,
        // light-red:#FF4800,
        warning-orange:#DD9908,
        // modal-bg: #19191F,
        // text-purple: #5C3D84
    )
);